<div class="container">
<div class="header">
  <h2>User Form</h2>

</div>

  <form #form = "ngForm" (ngSubmit)="onSubmit(form)">

    <div class="form-group">
      <label for="name">Name</label>
      <input
       type="text"
       class="form-control"
       name="name"
       id="name"
       [(ngModel)] = "userSettings.name"
       required
       #nameField ="ngModel"
       [class.field-error] = "form.submitted && nameField.invalid"
        >
        <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">Please enter a name</div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      required
      [(ngModel)] = "userSettings.password"
      #password = "ngModel"
      [class.field-error] = "form.submitted && password.invalid"
       >
       <div [hidden]="!form.submitted || password.valid" class="alert alert-danger">Please enter a password</div>
    </div>

    <div class="form-check form-group">
      <input
       class="form-check-input"
       type="checkbox"
       id="emailOffers"
       name="emailOffers"
       [(ngModel)] = "userSettings.emailOffers"
         >
      <label class="form-check-label" for="emailOffers">
        Email Offers
      </label>
    </div>

  <div class="form-group">
    <p>User Interface Style</p>
    <div class="form-check">
      <input
       class="form-check-input"
       type="radio"
       name="interfaceStyle"
       id="lightInterface"
       value="light"
       checked
       [(ngModel)] = "userSettings.interfaceStyle"
          >
      <label class="form-check-label" for="lightInterface">
        Light
      </label>
    </div>
    <div class="form-check">
      <input
       class="form-check-input"
       type="radio"
       name="interfaceStyle"
       id="mediumInterface"
       value="medium"
       [(ngModel)] = "userSettings.interfaceStyle"
          >
      <label class="form-check-label" for="lightInterface">
        Medium
      </label>
    </div>
    <div class="form-check">
      <input
       class="form-check-input"
       type="radio"
       name="interfaceStyle"
       id="darkInterface"
       value="dark"
       [(ngModel)] = "userSettings.interfaceStyle"
          >
      <label class="form-check-label" for="darkInterface">
        Dark
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="subscriptionType">Subscription Type</label>
    <select
    name="subscriptionType"
    class="form-control"
    id="subscriptionType"
    [(ngModel)] = "userSettings.subscriptionType"
     >
     <option *ngFor="let type of subscriptionTypes | async">{{type}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="notes">Notes</label>
    <textarea
     class="form-control"
     id="notes"
     name="notes"
     rows="3"
     [(ngModel)] = "userSettings.notes"
     required
     #notes = "ngModel"
     [class.field-error] = "form.submitted && notes.invalid"
     >
    </textarea>
    <div [hidden]="!form.submitted || notes.valid" class="alert alert-danger">Please enter some text</div>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input
    class="form-control"
    type="date"
    name="date"
    id="date"
    [(ngModel)] = "userSettings.date"
    >
  </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

<hr>

<div *ngIf="!user" class="card text-center">
  <h6 class="card-header">Google Login</h6>
  <div class="card-block">
    <h4 class="card-title">Not signed In</h4>
    <p class="card-text">Sign In with</p>
  </div>
  <div class="card-block">

    <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()">Sign In</button>
  </div>
</div>

<div *ngIf="user" class="card text center">
  <h6 class="card-header">Google Login</h6>
  <div class="card-block"></div>
  <img src="{{user.photoUrl}}" class="card-img-top img-responsive photo" alt="img">
  <div class="card-block">
    <h4 class="card-title">{{user.name}}</h4>
    <p class="card-text">{{user.email}}</p>
  </div>
  <div class="card-block">
    <button class="btn btn-social-icon btn-google mx-1" (click)="signOut()">Sign Out</button>
  </div>
</div>


